MONGO_URI=mongodb://localhost:27017/recallpg
JWT_SECRET=your_super_secret_jwt_key_change_me_in_prod
PORT=5000
CLIENT_URL=http://localhost:5173
WORKER_URL=http://localhost:8000
UPLOAD_DIR=../uploads
ENABLE_EXTERNAL_SUPPLEMENT=false
